@font-face {
    font-family: 'open_sansbold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/OpenSans-Bold-webfont.woff') format('woff'), 
    url('../font/OpenSans-Bold-webfont.ttf') format('truetype'), 
    url('../font/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../font/OpenSans-BoldItalic-webfont.eot');
    src: url('../font/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/OpenSans-BoldItalic-webfont.woff') format('woff'), 
    url('../font/OpenSans-BoldItalic-webfont.ttf') format('truetype'), 
    url('../font/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../font/OpenSans-ExtraBold-webfont.eot');
    src: url('../font/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/OpenSans-ExtraBold-webfont.woff') format('woff'), 
    url('../font/OpenSans-ExtraBold-webfont.ttf') format('truetype'), 
    url('../font/OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/OpenSans-Light-webfont.woff') format('woff'), 
    url('../font/OpenSans-Light-webfont.ttf') format('truetype'), 
    url('../font/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../font/OpenSans-Semibold-webfont.eot');
    src: url('../font/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/OpenSans-Semibold-webfont.woff') format('woff'), 
    url('../font/OpenSans-Semibold-webfont.ttf') format('truetype'), 
    url('../font/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../font/OpenSans-LightItalic-webfont.eot');
    src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), 
    url('../font/OpenSans-LightItalic-webfont.woff') format('woff'), 
    url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'), 
    url('../font/OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sanssemibold', Arial, Helvetica, sans-serif;
    color: #000000;
}

h1 {
    font-family: 'open_sanslight', Arial, Helvetica, sans-serif;
    margin: 0;
}

.text--white {
    color: #fff;
}

.text--yellow {
    color: #FFCD36;
}

.text--normal {
    font-family: 'open_sanslight', Arial, Helvetica, sans-serif;
}

.text--bold {
    font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
}

.text--extra-bold {
    font-family: 'open_sansextrabold', Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.width-850 {
    max-width: 850px;
}

.button {
    font-family: 'open_sanssemibold', Arial, Helvetica, sans-serif;
    padding: 15px 40px;
    font-size: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-transform: uppercase;
    text-decoration: none !important;
    transition: background-color 0.5s ease;
    margin: 20px 0;
    display: inline-block;
    border: none;
}

.button--yellow {
    background: #FFCD36;
    color: #fff !important;
}

.button--yellow:hover {
    background: #000;
    color: #FFCD36 !important;
}

a {
    color : #000;
    font-family: 'open_sansbold', Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

/* Common pages */
.common-pages header h1 {
    font-size: 55px;
    line-height: 1;
}

.common-pages header h1 span {
    font-size: 45px;
}

.common-pages header {
    background: #fecb45;
    width: 100%;
    min-height: 300px;
    display: flex;
    align-items: center;
}

.common-pages header #header {
     max-width: 1040px;
}

.common-pages .content {
    display: block;
    margin: 60px 0 60px 40px;
    font-size: 30px;
    word-break: break-word;
    font-family: 'open_sanslight';
}

/* //Common pages */

/* Form page */

.form header h1 {
    font-size: 50px;
}

.form header {
    height: 300px;
}

.form header #header {
    height: 300px;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

/* //Form page */

#header {
    background-color: #fecb45;
    color: #000;
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
    width: 100%;
}

#logo img {
    max-width: 250px;
    width: 100%;
}

#logo embed {
    width: 100%;
    max-width: 250px;
}

#header h3 {
    font-family: 'open_sanslight';
    font-weight: bold;
    font-size: 11px;
}

#header p {
    font-weight: normal;
}

#emf-container-outer {
    padding: 25px;
}

#submit-wrapper {
    text-align: center;
    border-top: 1px solid #f3cc33;
    padding-top: 15px;
}

.seprator {
    border-top: 2px solid #f3cc33;
    margin: 50px 0;
    width: 100%;
}

.seprator.s-25 {
    margin: 25px 0;
}

#submit-wrapper .emf-label-desc {
    float: initial;
    width: 100%;
    max-width: 200px;
}

#tarif-info, #tarif-info-fournisseur {
    border-bottom: 1px solid #f3cc33;
    margin-bottom: 20px;
}

label p {
    margin-bottom: 0;
}

.block {
    display: block;
}

.field-heading h4 {
    font-size: 16px;
}

.c-yellow {
    color: #e3b439;
}

section {
    display: none;
}

.is-sec-3 {
    display: none;
}

.is-section-3 .is-sec-3 {
    display: block;

}

.is-section-3 .is-sec-2 {
    display: none;
}

