.container {
  max-width: 500px;
}
@media (min-width: 800px) {
  .container {
    max-width: 750px;
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  align-content: flex-start;
}
@media (min-width: 800px) {
  .row {
    float: left;
    display: block;
  }
}
.image {
  order: 2;
  position: absolute;
  top: 0px;
  z-index: -4;
}
@media (min-width: 800px) {
  .image {
    float: left;
    margin-right: 20px;
  }
}
.meta {
  order: 2;
}
.title {
  width: 100%;
  text-align: center;
  order: 1;
}
@media (min-width: 800px) {
  .title {
    text-align: left;
    float: left;
    width: auto;
  }
}
.icon-section {
  float: left;
  order: 3;
  margin-left: 20px;
}
@media (min-width: 1200px) {
  .icon-section {
    display: flex;
    margin-left: 0;
  }
}
@media (min-width: 800px) {
  .icon {
    margin-right: 5px;
  }
}



li {
  color: white; /* bullet color */
}

li span {
  color: black; /* text color */
}

/* .emf-div-field-section {
  position:absolute;
  left:5%;
  } */
html {
  scroll-behavior: smooth;
}
#element {
  font-family: open_sansbold;
  position:absolute;
  left:27.2%;
  top:45%;
}
#header1 {
  font-family: open_sansbold;
  position:absolute;
  font-weight: 200;
  font-size: 90%;
  left:27.2%;
  top:29%;
}
#header2 {
  font-family: open_sansbold_italic;
  font-size:90%;
  font-weight: 300;
  position:absolute;
  left:27.3%;
  top:31.8%;

}

#header3 {
  font-family: open_sanslight;
  font-weight: 400;
  font-size: 200%;
  position:absolute;
  left:27%;
  top:17.8%;
}

#header4 {
  font-family: open_sansextrabold;
  font-weight:900;
  font-size: 90%;
  position:absolute;
  left:60%;
  top:0%;
}
#linkweb {
  color: black;
  text-decoration: none;

}

#header5 {
  font-family: open_sansbold;
  font-weight: 900;
  font-size: 70%;
  position:absolute;
  left:60%;
  top:3%;
}
#header6 {
  font-family: open_sansextrabold;
  font-weight:900;
  font-size: 90%;
  position:absolute;
  left:60%;
  top:10.5%;
}
#header7 {
  font-family: open_sansbold;
  font-weight: 900;
  font-size: 70%;
  position:absolute;
  left:60%;
  top:13.5%;
}
#banner{
  position:absolute;
  left:25%;
  top:-10%;
  height:38%;
  width:50%;
  background-color: #FFCD36;
  }
#bannerlogo{
  position:absolute;
  left:27%;
  top:3%;
  height:10%;
  width:10%;
  }

/* DÉBUT--------ALLERGIES1-------- */

#allergies1 {
  font-family: open_sansbold_italic;
  font-size: 100%;
  position: absolute;
  top:86.9%;
  left:27.4%;
}

#element_7_0 {
  Position:absolute;
  left:47.2%;
  top:89.1%;
}
#element_7_1 {
  Position:absolute;
  left:53.6%;
  top:89.1%;
}
#oui1 {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:48.9%;
  top:87.2%;
}
#non1 {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:55.3%;
  top:87.2%;

}
div.fixed-rectangle {
     width: 400px;
     max
     height: 100px;
     background-color: #ca0164;
}
#element_8{
    Position:absolute;
    left:47.6%;
    top:97.1%;}

#sioui1{
  font-family: open_sansbold;
  Position:absolute;
  Position:absolute;
  left:47.6%;
  top:91.8%;}

/* FIN--------ALLERGIES1-------- */


/* DÉBUT--------ALLERGIES2-------- */

#allergies2 {
  font-family: open_sansbold_italic;
  font-size: 100%;
  position: absolute;
  top:117.9%;
  left:27.4%;
}


#element_11_0 {
  Position:absolute;
  left:47.6%;
  top:119.6%;
}
#element_11_1 {
  Position:absolute;
  left:54%;
  top:119.6%;
}

#oui2 {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:48.9%;
  top:117.9%;
}
#non2 {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:55.3%;
  top:117.9%;
}

#sioui2{
  font-family: open_sansbold;
  Position:absolute;
  Position:absolute;
  left:47.6%;
  top:122.9%;}

#element_12{
    Position:absolute;
    left:47.6%;
    top:128.5%;}


/* FIN--------ALLERGIES2-------- */

#normal1 {
  font-family: open_sansbold;

}
#normal2 {
  font-family: open_sansbold;
  font-size:15px;
}


#typesdeparticipants {
  font-family: open_sansbold;
  Position:absolute;
  left:27.4%;
  top:43%;
}
#infoparticipant {
  font-family: open_sansbold;
  Position:absolute;
  left:27.4%;
  top:54%;
}


/* DÉBUT--------accompagnateurbase-------- */

#accompagnateurbase {
  font-family: open_sansbold;
  Position:absolute;
  left:27.4%;
  top:108%;
}
#prénom1 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:111.9%;
}
#nom1 {
  font-family: open_sansbold;
  Position:absolute;
  left:60.9%;
  top:111.9%;
}
#element_9 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:110.5%;
}
#element_10 {
  font-family: open_sansbold;
  Position:absolute;
  left:60.9%;
  top:110.5%;
}
/*FIN  --------accompagnateurbase-------- */

/* DÉBUT--------PRÉNOM-------- */

#prénom {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:57.8%;
}
#element_2 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:56.7%;
}
/*FIN  --------PRÉNOM-------- */

/* DÉBUT--------NOM-------- */

#nom {
  font-family: open_sansbold;
  Position:absolute;
  left:60.85%;
  top:57.8%;
}
#element_3 {
  font-family: open_sansbold;
  Position:absolute;
  left:60.9%;
  top:56.7%;
}

/*FIN  --------NOM-------- */


/* DÉBUT--------NOM DE LA SUCCURSALE-------- */

#nomdelasuccursale{
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:66.5%;
}

#element_4 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:65.2%;
}
/*FIN  --------NOM DE LA SUCCURSALE-------- */


/* DÉBUT--------EMAIL-------- */

#email{
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:75%;
}

#element_5 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:73.5%;
}

/*FIN  --------EMAIL-------- */


/* DÉBUT--------TEL-------- */
#tel{
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:83.0%;
}

#element_6 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.6%;
  top:81.5%;
}


/*FIN  --------TEL-------- */




#PARTICIPATIONDELACCOMPAGNATEUR1 {
  font-family: open_sansbold;
  Position:absolute;
  left:42%;
  top:153%;
}
#oui3{
  font-family: open_sansbold;
  Position:absolute;
  left:65%;
  top:153%;
}

#non3{
  font-family: open_sansbold;
  Position:absolute;
  left:69.5%;
  top:153%;
}
#element_14_0{
  font-family: open_sansbold;
  Position:absolute;
  left:63.6%;
  top:155.0%;
}
#element_14_1{
  font-family: open_sansbold;
  Position:absolute;
  left:68.2%;
  top:155.0%;
}


#PARTICIPATIONDELACCOMPAGNATEUR2 {
  font-family: open_sansbold;
  Position:absolute;
  left:42%;
  top:163%;
}

#oui4{
  font-family: open_sansbold;
  Position:absolute;
  left:65%;
  top:163%;
}

#non4{
  font-family: open_sansbold;
  Position:absolute;
  left:69.5%;
  top:163%;
}

#element_15_0{
  font-family: open_sansbold;
  Position:absolute;
  left:63.6%;
  top:164.8%;
}
#element_15_1{
  font-family: open_sansbold;
  Position:absolute;
  left:68.2%;
  top:164.8%;
}




#PARTICIPATIONDELACCOMPAGNATEUR3 {
  font-family: open_sansbold;
  Position:absolute;
  left:42%;
  top:172%;
}

#oui5{
  font-family: open_sansbold;
  Position:absolute;
  left:65%;
  top:173%;
}

#non5{
  font-family: open_sansbold;
  Position:absolute;
  left:69.5%;
  top:173%;
}

#element_16_0{
  font-family: open_sansbold;
  Position:absolute;
  left:63.6%;
  top:174.8%;
}
#element_16_1{
  font-family: open_sansbold;
  Position:absolute;
  left:68.2%;
  top:174.8%;
}




#separator1 {
  width:45%;
  height:0.3%;
  background-color:#FFCD36;
  position:absolute;
  top:39.9%;
  left:27.2%;
}

#separator2{
  width:45%;
  height:0.3%;
  background-color:#FFCD36;
  position:absolute;
  top:105%;
  left:27.2%;
}

#separator3{
  width:45%;
  height:0.3%;
  background-color:#FFCD36;
  position:absolute;
  top:137.5%;
  left:27.2%;
}
#separator4{
  width:45%;
  height:0.3%;
  background-color:#FFCD36;
  position:absolute;
  top:237.5%;
  left:27.2%;
}
#separator5{
  width:45%;
  height:0.3%;
  background-color:white;
  position:absolute;
  top:180.5%;
  left:27.2%;
}
#separator6{
  width:45%;
  height:0.3%;
  background-color:#FFCD36;
  position:absolute;
  top:159.5%;
  left:27.2%;
}
#programmationinnovante{
  font-family: open_sanslight;
  font-size: 25px;
  font-weight: 900;
  position:absolute;
  top:139.5%;
  left:27.2%;
}
#avantmidi{
  font-family: open_sansextrabold;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:153.5%;
  left:27.2%;
}
#apresmidi{
  font-family: open_sansextrabold;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:163.5%;
  left:27.2%;
}
#cocktail{
  font-family: open_sansextrabold;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:172.5%;
  left:27.2%;
}
#myster{
  font-family: open_sanslight;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:176.1%;
  left:27.2%;
}
#red1{
  font-family: open_sanslight;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:153.6%;
  left:32%;
}
#red2{
  font-family: open_sanslight;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:155.2%;
  left:27.2%;
}
#rallye{
  font-family: open_sanslight;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:163.6%;
  left:31.8%;
}
#rall2{
  font-family: open_sanslight;
  font-size: 80%;
  font-weight: 900;
  position:absolute;
  top:165.2%;
  left:27.2%;
}


#Vendredi22{
  font-family: open_sansbold_italic;
  font-size: 20px;
  color: #FFCD36;
  position:absolute;
  top:147.9%;
  left:27.2%;
}
#Samedi23{
  font-family: open_sansbold_italic;
  font-size: 20px;
  color: #FFCD36;
  position:absolute;
  top:182.6%;
  left:27.2%;
}
#Samedi232{
  font-family: open_sansbold_italic;
  font-size: 20px;
  color: #FFCD36;
  position:absolute;
  top:137.6%;
  left:27.2%;
}
#Dimanche24{
  font-family: open_sansbold_italic;
  font-size: 20px;
  color: #FFCD36;
  position:absolute;
  top:215.6%;
  left:27.2%;
}
#brunch{
  font-family: open_sansextrabold;
  font-size: 100%;
  color: black;
  position:absolute;
  top:219.6%;
  left:27.2%;
}
#AM{
    font-family: open_sansextrabold;
    font-size: 100%;
    font-weight: 900;
    position:absolute;
    top:186.7%;
    left:27.2%;
  }
  #AMlong{
    font-family: open_sanslight;
    font-size: 100%;
    font-weight: 900;
    position:absolute;
    top:186.9%;
    left:29.4%;
  }
#PM{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  position:absolute;
  top:186.7%;
  left:36.2%;
}
#PMlong{
  font-family: open_sanslight;
  font-size: 100%;
  font-weight: 900;
  position:absolute;
  top:186.9%;
  left:38.3%;
}

#gala{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  position:absolute;
  top:192.5%;
  left:27.2%;
}

#gala1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  position:absolute;
  top:142.6%;
  left:27.2%;
}
#choix1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: #FFCD36;
  position:absolute;
  top:145.2%;
  left:27.2%;
}
#choix{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: #FFCD36;
  position:absolute;
  top:196.5%;
  left:27.2%;
}




/* DÉBUT--------DIRECTION-------- */

#direction1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.5%;
  left:27.2%;
}
#direction2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:204.5%;
  left:27.2%;
}

#poissondir1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.4%;
  left:45.2%;
}
#element_19_0{

  position:absolute;
  top:202.4%;
  left:43.7%;
}
#viandedir1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.4%;
  left:55.2%;
}
#element_19_1{

  position:absolute;
  top:202.4%;
  left:53.7%;
}
#vegdir1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.4%;
  left:65.2%;
}
#element_19_2{

  position:absolute;
  top:202.4%;
  left:63.8%;
}
#poissondir2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:205.5%;
  left:45.2%;
}
#element_20_0{

  position:absolute;
  top:207.8%;
  left:43.7%;
}
#viandedir2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:205.5%;
  left:55.2%;
}
#element_20_1{

  position:absolute;
  top:207.8%;
  left:53.7%;
}
#vegdir2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:205.5%;
  left:65.2%;
}
#element_20_2{

  position:absolute;
  top:207.8%;
  left:63.8%;
}

#PARTICIPATION_DIRECTION1 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.2%;
  top:223%;
}
#PARTICIPATION_DIRECTION2 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.2%;
  top:229%;
}
#ouidir1 {
  font-family: open_sansbold;
  Position:absolute;
  left:65.5%;
  top:223%;
}
#nondir1 {
  font-family: open_sansbold;
  Position:absolute;
  left:68.5%;
  top:223%;
}

#ouidir2 {
  font-family: open_sansbold;
  Position:absolute;
  left:65.5%;
  top:229%;
}
#nondir2 {
  font-family: open_sansbold;
  Position:absolute;
  left:68.5%;
  top:229%;
}

#element_25_0 {
  font-family: open_sansbold;
  Position:absolute;
  left:64.4%;
  top:224.9%;
}
#element_25_1{
  font-family: open_sansbold;
  Position:absolute;
  left:67.4%;
  top:224.9%;
}
#element_26_0 {
  font-family: open_sansbold;
  Position:absolute;
  left:64.4%;
  top:231%;
}
#element_26_1{
  font-family: open_sansbold;
  Position:absolute;
  left:67.4%;
  top:231%;
}



/*FIN  ------- DIRECTION-------- */

/*DÉBUT  ------- MEMBRE-------- */
#membre1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.5%;
  left:27.2%;
}
#membre2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:204.5%;
  left:27.2%;
}

#poissonmem1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.4%;
  left:45.2%;
}
#element_17_0{

  position:absolute;
  top:202.4%;
  left:43.7%;
}
#viandemem1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.4%;
  left:55.2%;
}
#element_17_1{

  position:absolute;
  top:202.4%;
  left:53.7%;
}
#vegmem1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:200.4%;
  left:65.2%;
}
#element_17_2{

  position:absolute;
  top:202.4%;
  left:63.8%;
}
#poissonmem2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:205.5%;
  left:45.2%;
}
#element_18_0{

  position:absolute;
  top:207.8%;
  left:43.7%;
}
#viandemem2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:205.5%;
  left:55.2%;
}
#element_18_1{

  position:absolute;
  top:207.8%;
  left:53.7%;
}
#vegmem2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:205.5%;
  left:65.2%;
}
#element_18_2{

  position:absolute;
  top:207.8%;
  left:63.8%;
}

#PARTICIPATION_MEMBRE1 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.2%;
  top:223%;
}
#PARTICIPATION_MEMBRE2 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.2%;
  top:229%;
}
#ouimem1 {
  font-family: open_sansbold;
  Position:absolute;
  left:65.5%;
  top:223%;
}
#nonmem1 {
  font-family: open_sansbold;
  Position:absolute;
  left:68.5%;
  top:223%;
}

#ouimem2 {
  font-family: open_sansbold;
  Position:absolute;
  left:65.5%;
  top:229%;
}
#nonmem2 {
  font-family: open_sansbold;
  Position:absolute;
  left:68.5%;
  top:229%;
}

#element_23_0 {
  font-family: open_sansbold;
  Position:absolute;
  left:64.4%;
  top:224.9%;
}
#element_23_1{
  font-family: open_sansbold;
  Position:absolute;
  left:67.4%;
  top:224.9%;
}
#element_24_0 {
  font-family: open_sansbold;
  Position:absolute;
  left:64.4%;
  top:231%;
}
#element_24_1{
  font-family: open_sansbold;
  Position:absolute;
  left:67.4%;
  top:231%;
}



/*FIN  ------- MEMBRE-------- */



#emf-li-post-button1{
  font-family: open_sansbold;
  Position:absolute;
  left:43.3%;
  top:249.2%;
  height:4%;
  width:10%;
}
#emf-li-post-button2{
  font-family: open_sansbold;
  Position:absolute;
  left:43.3%;
  top:172.2%;
  height:4%;
  width:10%;
}
#questions{
  font-family: open_sansextrabold;
  font-size: 100%;
  color: black;
  position:absolute;
  top:239.2%;
  left:33.5%;
}
#questions1{
  font-family: open_sansextrabold;
  font-size: 100%;
  color: black;
  position:absolute;
  top:163.2%;
  left:33.5%;
}
/* DÉBUT--------FOURNISSEUR-------- */

#fournisseur1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:148.5%;
  left:27.2%;
}
#fournisseur2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:152.5%;
  left:27.2%;
}

#poissonfou1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:148.5%;
  left:45.2%;
}
#element_21_0{

  position:absolute;
  top:150.3%;
  left:43.7%;
}
#viandefou1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:148.5%;
  left:55.2%;
}
#element_21_1{

  position:absolute;
  top:150.3%;
  left:53.7%;
}
#vegfou1{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:148.5%;
  left:65.2%;
}
#element_21_2{

  position:absolute;
  top:150.3%;
  left:63.8%;
}
#poissonfou2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:152.5%;
  left:45.2%;
}
#element_22_0{

  position:absolute;
  top:154.4%;
  left:43.7%;
}
#viandefou2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:152.5%;
  left:55.2%;
}
#element_22_1{

  position:absolute;
  top:154.4%;
  left:53.7%;
}
#vegfou2{
  font-family: open_sansextrabold;
  font-size: 100%;
  font-weight: 900;
  color: black;
  position:absolute;
  top:152.5%;
  left:65.2%;
}
#element_22_2{

  position:absolute;
  top:154.4%;
  left:63.8%;
}
/* FIN--------fournisseur-------- */

#element_1_0 {
  font-family: open_sansbold;
  Position:absolute;
  left:47.4%;
  top:45%;
}

#typeloutec {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:48.9%;
  top:43.3%;
}


#element_1_1 {
  Position:absolute;
  left:47.4%;
  top:47.3%;
}

#typedirection {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:48.9%;
  top:45.55%;
}

#element_1_2 {
  Position:absolute;
  left:47.4%;
  top:49.7%;
}

#typefournisseur {
  font-family: open_sansbold;
  font-size:15px;
  Position:absolute;
  left:48.9%;
  top:47.95%;
}
/* open-sans-300 - latin */


@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff2') format('woff2'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
    @font-face {
        font-family: 'open_sansbold_italic';
        src: url('OpenSans-BoldItalic-webfont.eot');
        src: url('OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('OpenSans-BoldItalic-webfont.woff2') format('woff2'),
             url('OpenSans-BoldItalic-webfont.woff') format('woff'),
             url('OpenSans-BoldItalic-webfont.ttf') format('truetype'),
             url('OpenSans-BoldItalic-webfont.svg#open_sansbold_italic') format('svg');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'open_sansextrabold';
    src: url('OpenSans-ExtraBold-webfont.eot');
    src: url('OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-ExtraBold-webfont.woff2') format('woff2'),
         url('OpenSans-ExtraBold-webfont.woff') format('woff'),
         url('OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans-ExtraBold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('OpenSans-Light-webfont.eot');
    src: url('OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Light-webfont.woff2') format('woff2'),
         url('OpenSans-Light-webfont.woff') format('woff'),
         url('OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff2') format('woff2'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('OpenSans-LightItalic-webfont.eot');
    src: url('OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-LightItalic-webfont.woff2') format('woff2'),
         url('OpenSans-LightItalic-webfont.woff') format('woff'),
         url('OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-LightItalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
