<meta charset="utf-8" />
<title></title>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet" />
<table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; background-color:#ffffff; margin:0; padding:0; color:#000000;">
	<tbody>
		<tr>
			<td bgcolor="#fecb45" style="background-color: #fecb45; padding: 10px 0;">
				<table align="center" style="background-color: #fecb45;color: #000; width: 600px; margin: 0 auto;">
					<tbody>
						<tr>
							<td>
								<img alt="Logo LOU-TEC" src="http://champagneevenements.com/lou-tec/emails/logo-lou-tec.png" style="display:block; margin:0; border:0; width: 173px; height: 93px" />
								<h1 style="font-family: 'Open Sans', sans-serif; font-size: 25px; font-weight: 300;">
									CONFIRMATION D&#39;INSCRIPTION</h1>
							</td>
							<td>
								<p style="color: #000000; font-size: 14px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
									<strong>CONGR&Egrave;S ANNUEL<br />
									Du 22 au 24 mars 2019</strong></p>
								<p style="color: #000000; font-size: 14px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
									<strong>H&ocirc;tel William Gray</strong><br />
									421, rue St-Vincent<br />
									Montr&eacute;al (Québec) H2Y 3A6<br />
									T&eacute;l: 514 656-5600</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td style="padding:40px 0;">
				<!-- begin main block -->
				<table align="center" border="0" cellpadding="0" cellspacing="0" style=" width: 600px; margin: 0 auto;" width="600">
					<tbody>
						<tr>
							<td style="padding: 40px 20px">
								<p style="color: #000000; font-size: 18px; line-height: 26px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
									Merci, nous avons bien re&ccedil;u votre inscription au congr&egrave;s annuel de Lou-Tec qui se tiendra du 22 au 24 mars 2019 &agrave; l&#39;H&ocirc;tel William Gray, 421, rue St-Vincent Montr&eacute;al (Québec) H2Y 3A6.</p>
								<p style="color: #000000; font-size: 18px;  line-height: 26px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
									Pour plus d&#39;information contactez Lucie Champagne<br />
									<strong>514 814-8214</strong> ou par courriel au <strong style="color: rgb(0, 0, 0);"><a href="mailto:lucie@champagneevenements.com" style="color: #000000">lucie@champagneevenements.com</a></strong></p>
									<p style="color: #000000; font-size: 18px;  line-height: 26px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Pour r&eacute;server votre h&ocirc;tel, <a href="https://be.synxis.com/?Chain=18009&hotel=69586&locale=fr&group=loutec&arrive=20-03-2019" style="color: #FFCD36; text-decoration: none; font-weight: bold" target="_blank"> CLIQUEZ ICI</a>, ou téléphonez au 514 656-5600 en indiquant que vous êtes avec Lou-Tec.</p>
								<p style="color: #000000; font-size: 18px;  line-height: 26px; font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Voici les choix que vous avez effectu&eacute;s:</p>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- end main block --></td>
		</tr>
	</tbody>
</table>
<br />
